html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* ocupa toda la ventana */
}

main {
  flex: 1;  /* ocupa todo el espacio disponible entre header y footer */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    background: rgb(236, 236, 236);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.search-section {
    margin-bottom: 20px;
    text-align: center;
}

input {
    padding: 8px;
    margin-right: 10px;
    width: 200px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* consulta_boleta */

#cliente::-webkit-outer-spin-button,
#cliente::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*pago */
#rut::-webkit-outer-spin-button,
#rut::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
}